<div class="content-container">
  <div class="container">
    <div class="results-wrapper">
      <ul class="search-results">
      <% @results.each do |result| %>
        <li>
          <div class="search-result">
            <div class="main-attributes">
              <div class="media-avatar">
                <%= image_tag result.image_url.present? ? result.image_url : "https://s3-media3.fl.yelpcdn.com/assets/srv0/yelp_styleguide/fe8c0c8725d3/assets/img/default_avatars/business_90_square.png", size: "80"  %>
              </div>
            </div>
            <div class="secondary-attributes">
              <div class="media-story">
                <p><%= link_to result.name, result.url, target: "blank" %></p>
                <p>
                  <%= image_tag result.rating_img_url %>
                  <%= result.review_count %>件のレビュー
                </p>
              </div>
              <address>
                <%= result.location.city %>
                <% result.location.address.each do |adress| %>
                  <%= adress %>
                <% end %>
                <span class="walk-time">
                  徒歩<%= calculate_walk_time(@ll, result.location.coordinate) %>分
                </span>
              </address>
              <span class="google-link">
                <%= link_to "ルートをGoodle mapsで表示する", "https://www.google.co.jp/maps?saddr=#{@ll[0]},#{@ll[1]}&daddr=#{result.location.coordinate.latitude},#{result.location.coordinate.longitude}", target: "blank" %>
              </span>
            </div>
          </div>
        </li>
      <% end %>
      </ul>
    </div>
    <div class="map-wrapper">
      <div id="map">
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
</script>
