<div class="result">
  検索結果
</div>
<div class="result">
  <% @results.each do |result| %>
    <p><%= result.image_url %><%= result.name %><%= result.rating_img_url %><%= result.review_count %><%= result.location.display_address %></p>
  <% end %>
</div>
